In [1]:
import pandas as pd

# Read the CSV file
data = pd.read_csv('profile.csv', header=None)

# Number of columns
num_cols = data.shape[1]

# Loop through each column
for col in range(num_cols):
    # Get the unique values in the current column
    unique_values = data[col].unique()
    
    # Create a mapping from unique values to labels
    value_to_label = {val: idx for idx, val in enumerate(unique_values)}
    
    # Replace the unique values in the column with their corresponding labels
    data[col] = data[col].map(value_to_label)

# Save the labeled data to a new CSV file
data.to_csv('labeled_profile.csv', index=False, header=False)

In [2]:
data = pd.read_csv('labeled_profile.csv', header=None)

print(data)

      0  1  2  3  4
0     0  0  0  0  0
1     0  0  0  0  0
2     0  0  0  0  0
3     0  0  0  0  0
4     0  0  0  0  0
...  .. .. .. .. ..
2200  2  0  0  3  1
2201  2  0  0  3  1
2202  2  0  0  3  1
2203  2  0  0  3  1
2204  2  0  0  3  1

[2205 rows x 5 columns]

In [3]:
data.describe()

                 0            1            2            3            4
count  2205.000000  2205.000000  2205.000000  2205.000000  2205.000000
mean      1.004082     0.979592     0.669388     1.642177     0.657143
std       0.817505     1.151831     0.817233     1.227461     0.474772
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       1.000000     0.000000     0.000000     2.000000     1.000000
75%       2.000000     2.000000     1.000000     3.000000     1.000000
max       2.000000     3.000000     2.000000     3.000000     1.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2205 non-null   int64
 1   1       2205 non-null   int64
 2   2       2205 non-null   int64
 3   3       2205 non-null   int64
 4   4       2205 non-null   int64
dtypes: int64(5)
memory usage: 86.3 KB